#footer {
    background-color: rgb(255, 229, 199); 
    padding: 40px;
}

#footer ul {
    list-style: none;
    padding-left: 0px;
}

#footer div div:first-child h4, #footer ul li {
    text-align: right;
}
#footer button {
    margin: 5px;
}