#secondHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 20px 0;
    background-color: #f2e9e4;

}

#secondHeader img {
    cursor: pointer;
}

#secondHeader #searcher{
    width: 340px;
    height: 32px;
    border-radius: 10px;
    border: 1px solid #777;
    text-indent: 10px;
    outline: none;

}

#secondHeader #search{
    height: 32px;
    width: 50px;
    position: relative;
    left: -51px;
    background-color: chocolate;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    transition: .5s;
}

#secondHeader #search:hover{
    background-color: #A475DE;
}

#secondHeader #scanner{
    width: 100px;
    height: 40px;
    background-color: chocolate;
    border-radius: 5px;
    transition: 1s;
    border: none;
}

#secondHeader #scanner:hover{
    background-color: #A475DE;
}