.card-size {
    max-height: 250px !important;
    width: 100% !important;
    height: 300px;
}

.card-size a {
    height: 100%;
}

.card-size a > div {
    height: 100%;
}
.list_product_img_div
{
    max-height: 114px !important;
    object-fit: contain;
}

.img-front {
    padding: 15px;
}