/* body{
    margin: 0;
    background-color: rgb(231, 227, 222);
} */
#nombre{
    display: flex;
    height: 180px;
    width: 100vw;
    background-color: rgba(41, 171, 223, 0.2);

}

#nombre div {
    width: 70%;
    margin: 0 auto;
    padding: 0 10px;
}

#nombre h2{
    line-height: 100px;
    margin: 0;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#articulo > div {
    width: 50%;
}

#articulo{
    position: relative;
    top: -130px;
    margin: 2em auto;
    padding: 2em;
    display: flex;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px gainsboro;
    width: 70%;
    background-color: white;
    max-height: 400px;
}

#articulo img{
    border-radius: 15px;
    height: 100%;
    object-fit: contain;
}

#articulo #contentProduct{
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 40px;
}

#articulo p{
    font-size: 15px;
    display: table;
}


#matching{
    margin: 2em auto;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px gainsboro;
    width: 65%;
    background-color: white;
    height: 210px;
}

#matching h2{
    margin: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}


.box{
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    width: 450px;
    height: 100px;
    background-color: rgb(248, 218, 218);
}

.box:hover{
    background-color: rgb(243, 193, 193);
}